<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm} ${message}" />
      <!-- write log message to database -->
      <target xsi:type="Database" name="database">
        <!-- SQL command to be executed for each entry -->
        <commandText>INSERT INTO [LogEntries] (TimeStamp, Message, Level, Logger) VALUES(GETDATE(), @msg, @level, @logger)</commandText>

        <!-- parameters for the command -->
        <parameter name="@msg" layout="${message}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />

        <!-- connection string -->
        <dbProvider>System.Data.SqlServerCe.4.0</dbProvider>
        <connectionString>Data Source=${basedir}\logger.sdf</connectionString>
      </target>
    </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console,database" />
  </rules>
</nlog>
